body {
  margin: 0;
  font-family: Arial, sans-serif
}

.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fire-icon {
    font-size: 2rem;
    color: darkorange;
}
 
ul {list-style-type: none;
}
