body {
  margin: 0;
  font-family: Arial, sans-serif
}

.map {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.fire-icon {
    font-size: 2rem;
    color: darkorange;
}

.severe-storms-icon {
font-size: 2rem;
color: blue;
}

.location-info {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    background-color: snow;
    border-radius: 10px;
    font-size: 18px;
}

.location-info ul {
    list-style-type: none;
    padding: 0;
}

.location-info li {
    padding: 5px 0;
}
 
ul {list-style-type: none;
}
